.customers-list-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 4px;
    border: 1px solid $accent-color;
  }

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    flex-wrap: nowrap;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client-link-item {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers-list-logo:hover &,
  .customers-list-logo:focus & {
    fill: $accent-color;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
