.footer {
  background-color: #2f303a;
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .social-list {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-invitation {
  b {
    display: block;
    padding-top: 12px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 0;
  }
}

.footer-contacts {
  margin-bottom: 60px;
  address {
    color: $second-text-color;
    font-style: normal;
    line-height: 1.71;
    font-size: 14px;
  }
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-text-color;
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.contacts-text {
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-link-item {
  width: 20px;
  height: 20px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-container-item {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
  .footer-invitation {
    margin-left: 69px;
  }
  .footer-container-item {
    margin-right: 94px;
  }
  .footer-contacts {
    width: 231px;
  }
}
