.btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-menu-svg {
  fill: $title-text-color;
  .btn-menu:hover & {
    fill: $accent-color;
  }
}

.icon-close40 {
  display: none;
  .btn-menu.is-open & {
    display: block;
  }
}

.icon-menu {
  .btn-menu.is-open & {
    display: none;
  }
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  color: $second-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-width: 0;
  border-radius: 4px;

  animation-duration: 500ms;
  .hero & {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
