.main-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $title-text-color;
  z-index: 10;
  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $second-text-color;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid #ececec;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-title {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.header-contacts-item {
  & a {
    font-style: normal;
    font-weight: 500;
    color: $primary-text-color;
    letter-spacing: 0.02em;
    line-height: 1.16;

    text-decoration: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
    .contact-icon {
      margin-right: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 78px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 280px;
  }
}

.site-nav {
  position: relative;
}

.contact-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact-link:hover & {
    fill: $accent-color;
  }
  .contact-link:focus & {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
