.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  .footer-invitation & {
    margin: 0;
  }
}

.social-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-link:hover &,
  .social-link:focus & {
    background-color: $accent-color;
  }
}

.social-link {
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social-link-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  .social-icon:hover &,
  .social-icon:focus & {
    fill: #fff;
  }
}
