.hero {
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  color: $second-text-color;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1140px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 767px;
    height: 400px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/Header-mob-1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/Header-mob-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1139px;
    height: 400px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/Header-tablet-1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/Header-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/Header-desktop-1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/Header-desktop-2x.jpg);
    }
  }
}
