.btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-menu-svg {
  fill: $title-text-color;
  .btn-menu:hover & {
    fill: $accent-color;
  }
}

.icon-close40 {
  display: none;
  .btn-menu.is-open & {
    display: block;
  }
}

.icon-menu {
  .btn-menu.is-open & {
    display: none;
  }
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
